home-assistant/node-red/.flows.json.backup
[{"id":"a0eaccdd.de5ff8","type":"tab","label":"Thermostat Wohnzimmer","disabled":false,"info":""},{"id":"254a39da.f8b4b6","type":"tab","label":"Thermostat Bad","disabled":false,"info":""},{"id":"f116b56f.ef70a","type":"tab","label":"Thermostat Schlafzimmer","disabled":false,"info":""},{"id":"4edfcc95.bb48b4","type":"tab","label":"Auto Thermostats","disabled":false,"info":""},{"id":"88078956.e3ed78","type":"server","z":"","name":"Home Assistant"},{"id":"ed93980c.1a3aa","type":"homekit-bridge","z":"","bridgeName":"Node-RED","pinCode":"123-45-987","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"84acb523.0920e8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65217fad.d97a68","type":"server","z":"","name":"Home Assistant"},{"id":"74fb3c17.fcddbc","type":"homekit-bridge","z":"","bridgeName":"Home-Assistant","pinCode":"123-45-789","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"c458ca24.5785e","type":"nora-config","z":"","name":"j.bucher.mn","group":"","notify":false},{"id":"75ba2d53.051c14","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d7741078.51017","type":"ui_group","z":"","name":"Default","tab":"75ba2d53.051c14","disp":true,"width":"6","collapse":false},{"id":"3bf1c47f.ab6d0c","type":"ui_group","z":"","name":"Wohnzimmer","tab":"75ba2d53.051c14","disp":true,"width":"14","collapse":false},{"id":"f864a5fb.2a1c2","type":"ui_group","z":"","name":"Bad","tab":"75ba2d53.051c14","disp":true,"width":"14","collapse":false},{"id":"f5693f0.19eb24","type":"ui_group","z":"","name":"Schlafzimmer","tab":"75ba2d53.051c14","disp":true,"width":"14","collapse":false},{"id":"1ac0a406.d2be3c","type":"homekit-service","z":"a0eaccdd.de5ff8","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Thermostat Wohnzimmer","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":690,"y":200,"wires":[["d3fcea21.5c034","1164db1d.4b9245"],["a9d64dfa.cd567"]]},{"id":"2d5263e2.c0dc14","type":"function","z":"a0eaccdd.de5ff8","name":"Extract","func":"return {\n    payload: {\n        current: msg.data.attributes.current_temperature - 2.5,\n        target:  msg.data.attributes.temperature,\n        mode_string: msg.payload\n        \n    }\n}","outputs":1,"noerr":0,"x":200,"y":420,"wires":[["e247b274.76a2a8"]]},{"id":"6c2e6ce2.ad8804","type":"function","z":"a0eaccdd.de5ff8","name":"To Homekit","func":"\nreturn {\n    payload: {\n        CurrentTemperature: msg.payload.current,\n        TargetTemperature: msg.payload.target,\n        CurrentHeatingCoolingState: msg.payload.mode\n    }\n};","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["1ac0a406.d2be3c"]]},{"id":"9f147361.ce263","type":"api-call-service","z":"a0eaccdd.de5ff8","name":"Set Temperature","server":"88078956.e3ed78","version":1,"service_domain":"climate","service":"set_temperature","entityId":"climate.int0000001","data":"{ \"temperature\": msg.payload.temperature }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":420,"wires":[[]]},{"id":"d3fcea21.5c034","type":"function","z":"a0eaccdd.de5ff8","name":"Homekit to Action","func":"if(msg.payload.TargetTemperature != null){\n    return {\n        payload: {\n            action: \"set_temperature\",\n            temperature: msg.payload.TargetTemperature\n        }\n    }\n}else if(msg.payload.TargetHeatingCoolingState != null){\n    return {\n        payload: {\n            action: \"set_mode\",\n            mode: msg.payload.TargetHeatingCoolingState\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["83c6ccc4.77b6b8","24698ae5.7dc526"]]},{"id":"83c6ccc4.77b6b8","type":"switch","z":"a0eaccdd.de5ff8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"set_temperature","vt":"str"},{"t":"eq","v":"set_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":440,"wires":[["9f147361.ce263"],["ab5c49.1bff83b8"]]},{"id":"749742c4.65327c","type":"api-call-service","z":"a0eaccdd.de5ff8","name":"Set Mode","server":"88078956.e3ed78","version":1,"service_domain":"climate","service":"set_hvac_mode","entityId":"climate.int0000001","data":"{ \"hvac_mode\": msg.payload.mode }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":480,"wires":[[]]},{"id":"d6ef428e.8849b8","type":"homekit-service","z":"254a39da.f8b4b6","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Thermostat Bad","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":660,"y":180,"wires":[["62d482df.22a26c"],[]]},{"id":"525288c1.33f748","type":"homekit-service","z":"f116b56f.ef70a","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Thermostat Schlafzimmer","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"characteristicProperties":"{}","x":750,"y":220,"wires":[["bffeb454.42b628"],[]]},{"id":"787c282d.cc33c8","type":"nora-thermostat","z":"a0eaccdd.de5ff8","devicename":"Wohnzimmer Thermostat","roomhint":"Wohnzimmer","name":"Wohnzimmer Thermostat","modes":"off,heat","unit":"C","topic":"","passthru":false,"nora":"c458ca24.5785e","x":470,"y":660,"wires":[["27486cd4.fe200c"]]},{"id":"f8fabead.adf71","type":"function","z":"a0eaccdd.de5ff8","name":"To NORA","func":"\nreturn {\n    payload: {\n        temperature: msg.payload.current,\n        setpoint: msg.payload.target,\n        mode: msg.payload.mode == 0 ? \"off\" : \"heat\"\n    }\n};","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["787c282d.cc33c8"]]},{"id":"27486cd4.fe200c","type":"function","z":"a0eaccdd.de5ff8","name":"NORA to Action","func":"\nreturn {\n    payload: {\n        action: \"set_temperature\",\n        temperature: msg.payload.setpoint,\n    }\n};","outputs":1,"noerr":0,"x":780,"y":460,"wires":[["83c6ccc4.77b6b8","ea2522c5.0d0a98"]]},{"id":"e247b274.76a2a8","type":"function","z":"a0eaccdd.de5ff8","name":"Guess Mode","func":"\nreturn {\n    payload: {\n        current: msg.payload.current,\n        target: msg.payload.target,\n        mode: msg.payload.target < 10.1 ? 0 : 1,\n        mode_string: msg.payload.mode_string\n    }\n}","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["f8fabead.adf71","6c2e6ce2.ad8804","258fc88b.43f8d8","8ff03d3c.c1cf88"]]},{"id":"21e895d9.692e6a","type":"nora-thermostat","z":"f116b56f.ef70a","devicename":"Schlafzimmer Thermostat","roomhint":"Schlafzimmer","name":"Schlafzimmer Thermostat","modes":"off,heat","unit":"C","topic":"","passthru":false,"nora":"c458ca24.5785e","x":550,"y":640,"wires":[["f5f5499.12033b8"]]},{"id":"6ddd5bc2.7ac7dc","type":"poll-state","z":"a0eaccdd.de5ff8","name":"Thermostat","server":"88078956.e3ed78","version":1,"updateinterval":"150","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"climate.int0000001","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":300,"wires":[["2d5263e2.c0dc14"]]},{"id":"ab5c49.1bff83b8","type":"function","z":"a0eaccdd.de5ff8","name":"Manu","func":"\nreturn {\n    payload: {\n        mode: msg.payload.mode === 0 ? \"off\" : \"heat\"\n    }\n};","outputs":1,"noerr":0,"x":1210,"y":480,"wires":[["749742c4.65327c"]]},{"id":"eaa6e7af.53f9b8","type":"link in","z":"a0eaccdd.de5ff8","name":"Wohnzimmer auto","links":["ff67e09c.f2c94"],"x":815,"y":500,"wires":[["83c6ccc4.77b6b8","8fe4366d.3e094"]]},{"id":"ff67e09c.f2c94","type":"link out","z":"4edfcc95.bb48b4","name":"Wohnzimmer auto","links":["eaa6e7af.53f9b8"],"x":955,"y":240,"wires":[]},{"id":"30b5cd16.487172","type":"inject","z":"4edfcc95.bb48b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":150,"y":80,"wires":[["6c651456.f17f3c","fd166f6e.ff083","cbe25ecd.1d43"]]},{"id":"6c651456.f17f3c","type":"function","z":"4edfcc95.bb48b4","name":"Profile Wohnzimmer","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nlet hours = new Date(msg.payload).getHours()\nlet minutes = new Date(msg.payload).getMinutes()\nlet day = new Date(msg.payload).getDay()\n\nvar temp = 14.0\n\nif(flow.get(\"dict\")[day]){\n    if(hours >= 8 && hours <= 22){\n        temp = 22.0\n    }else{\n        temp = 17.0\n    }\n}\n\nreturn {\n    payload: temp\n};","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["510d28cc.89cf78"]]},{"id":"28126c3.ed7f494","type":"function","z":"4edfcc95.bb48b4","name":"Package","func":"\nreturn {\n    payload: {\n        action: \"set_temperature\",\n        temperature: msg.payload,\n    }\n};","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["ff67e09c.f2c94"]]},{"id":"258fc88b.43f8d8","type":"function","z":"a0eaccdd.de5ff8","name":"Ensure Manu","func":"if(msg.mode !== 0 && msg.payload.mode_string != \"heat\"){\n    return {\n        payload: {\n            action: \"set_mode\",\n            mode: 1\n        }\n    }\n}","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["83c6ccc4.77b6b8","8e034591.28fa5"]]},{"id":"c7cf921e.f6db9","type":"function","z":"254a39da.f8b4b6","name":"Extract","func":"return {\n    payload: {\n        current: msg.data.attributes.current_temperature - 2.5,\n        target:  msg.data.attributes.temperature,\n        mode_string: msg.payload\n        \n    }\n}","outputs":1,"noerr":0,"x":140,"y":380,"wires":[["a69c1397.03b57"]]},{"id":"c0036ecf.a32af","type":"function","z":"254a39da.f8b4b6","name":"To Homekit","func":"\nreturn {\n    payload: {\n        CurrentTemperature: msg.payload.current,\n        TargetTemperature: msg.payload.target,\n        CurrentHeatingCoolingState: msg.payload.mode\n    }\n};","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["d6ef428e.8849b8"]]},{"id":"cd955194.e5c7d","type":"api-call-service","z":"254a39da.f8b4b6","name":"Set Temperature","server":"88078956.e3ed78","version":1,"service_domain":"climate","service":"set_temperature","entityId":"climate.int0000002","data":"{ \"temperature\": msg.payload.temperature }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":380,"wires":[[]]},{"id":"62d482df.22a26c","type":"function","z":"254a39da.f8b4b6","name":"Homekit to Action","func":"if(msg.payload.TargetTemperature != null){\n    return {\n        payload: {\n            action: \"set_temperature\",\n            temperature: msg.payload.TargetTemperature\n        }\n    }\n}else if(msg.payload.TargetHeatingCoolingState != null){\n    return {\n        payload: {\n            action: \"set_mode\",\n            mode: msg.payload.TargetHeatingCoolingState\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["44b9bdd8.abb884","5ba024bf.0220cc"]]},{"id":"44b9bdd8.abb884","type":"switch","z":"254a39da.f8b4b6","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"set_temperature","vt":"str"},{"t":"eq","v":"set_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":400,"wires":[["cd955194.e5c7d"],["e67179d6.f0ea08"]]},{"id":"1995d280.d866ce","type":"api-call-service","z":"254a39da.f8b4b6","name":"Set Mode","server":"88078956.e3ed78","version":1,"service_domain":"climate","service":"set_hvac_mode","entityId":"climate.int0000002","data":"{ \"hvac_mode\": msg.payload.mode }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":440,"wires":[[]]},{"id":"74ac0e72.9065a","type":"function","z":"254a39da.f8b4b6","name":"To NORA","func":"\nreturn {\n    payload: {\n        temperature: msg.payload.current,\n        setpoint: msg.payload.target,\n        mode: msg.payload.mode == 0 ? \"off\" : \"heat\"\n    }\n};","outputs":1,"noerr":0,"x":300,"y":540,"wires":[["6fafb697.03ae2"]]},{"id":"f1df5ba2.9e8fc8","type":"function","z":"254a39da.f8b4b6","name":"NORA to Action","func":"\nreturn {\n    payload: {\n        action: \"set_temperature\",\n        temperature: msg.payload.setpoint,\n    }\n};","outputs":1,"noerr":0,"x":720,"y":420,"wires":[["44b9bdd8.abb884","1c5e2e59.3b291a"]]},{"id":"a69c1397.03b57","type":"function","z":"254a39da.f8b4b6","name":"Guess Mode","func":"\nreturn {\n    payload: {\n        current: msg.payload.current,\n        target: msg.payload.target,\n        mode: msg.payload.target < 10.1 ? 0 : 1,\n        mode_string: msg.payload.mode_string\n    }\n}","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["74ac0e72.9065a","c0036ecf.a32af","d20ef277.2f60d","590274a2.31469c"]]},{"id":"ab86c122.6dad1","type":"poll-state","z":"254a39da.f8b4b6","name":"Thermostat","server":"88078956.e3ed78","version":1,"updateinterval":"150","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"climate.int0000002","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":90,"y":260,"wires":[["c7cf921e.f6db9"]]},{"id":"e67179d6.f0ea08","type":"function","z":"254a39da.f8b4b6","name":"Manu","func":"\nreturn {\n    payload: {\n        mode: msg.payload.mode === 0 ? \"off\" : \"heat\"\n    }\n};","outputs":1,"noerr":0,"x":1150,"y":440,"wires":[["1995d280.d866ce"]]},{"id":"fff4885.01ae178","type":"link in","z":"254a39da.f8b4b6","name":"Bad auto","links":["1b6302e1.f49e4d"],"x":755,"y":460,"wires":[["44b9bdd8.abb884","25252afe.6280e6"]]},{"id":"d20ef277.2f60d","type":"function","z":"254a39da.f8b4b6","name":"Ensure Manu","func":"if(msg.mode !== 0 && msg.payload.mode_string != \"heat\"){\n    return {\n        payload: {\n            action: \"set_mode\",\n            mode: 1\n        }\n    }\n}","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["44b9bdd8.abb884","bb04145a.dc1e68"]]},{"id":"6fafb697.03ae2","type":"nora-thermostat","z":"254a39da.f8b4b6","devicename":"Bad Thermostat","roomhint":"Badezimmer","name":"Bad Thermostat","modes":"off,heat","unit":"C","topic":"","passthru":false,"nora":"c458ca24.5785e","x":480,"y":600,"wires":[["f1df5ba2.9e8fc8"]]},{"id":"ca6824cb.2b06c8","type":"function","z":"f116b56f.ef70a","name":"Extract","func":"return {\n    payload: {\n        current: msg.data.attributes.current_temperature - 1.0,\n        target:  msg.data.attributes.temperature,\n        mode_string: msg.payload\n        \n    }\n}","outputs":1,"noerr":0,"x":180,"y":420,"wires":[["9c061676.03a568"]]},{"id":"97fa1260.ba9aa","type":"function","z":"f116b56f.ef70a","name":"To Homekit","func":"\nreturn {\n    payload: {\n        CurrentTemperature: msg.payload.current,\n        TargetTemperature: msg.payload.target,\n        CurrentHeatingCoolingState: msg.payload.mode\n    }\n};","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["525288c1.33f748"]]},{"id":"205b6c0.2d58394","type":"api-call-service","z":"f116b56f.ef70a","name":"Set Temperature","server":"88078956.e3ed78","version":1,"service_domain":"climate","service":"set_temperature","entityId":"climate.int0000003","data":"{ \"temperature\": msg.payload.temperature }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":420,"wires":[[]]},{"id":"bffeb454.42b628","type":"function","z":"f116b56f.ef70a","name":"Homekit to Action","func":"if(msg.payload.TargetTemperature != null){\n    return {\n        payload: {\n            action: \"set_temperature\",\n            temperature: msg.payload.TargetTemperature\n        }\n    }\n}else if(msg.payload.TargetHeatingCoolingState != null){\n    return {\n        payload: {\n            action: \"set_mode\",\n            mode: msg.payload.TargetHeatingCoolingState\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["8d37f062.0c20c","4bc5980e.1fb058"]]},{"id":"8d37f062.0c20c","type":"switch","z":"f116b56f.ef70a","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"set_temperature","vt":"str"},{"t":"eq","v":"set_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":440,"wires":[["205b6c0.2d58394"],["76e7d359.fbca0c"]]},{"id":"d48f89cc.b919e8","type":"api-call-service","z":"f116b56f.ef70a","name":"Set Mode","server":"88078956.e3ed78","version":1,"service_domain":"climate","service":"set_hvac_mode","entityId":"climate.int0000003","data":"{ \"hvac_mode\": msg.payload.mode }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":480,"wires":[[]]},{"id":"97c04d9d.58716","type":"function","z":"f116b56f.ef70a","name":"To NORA","func":"\nreturn {\n    payload: {\n        temperature: msg.payload.current,\n        setpoint: msg.payload.target,\n        mode: msg.payload.mode == 0 ? \"off\" : \"heat\"\n    }\n};","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["21e895d9.692e6a"]]},{"id":"f5f5499.12033b8","type":"function","z":"f116b56f.ef70a","name":"NORA to Action","func":"\nreturn {\n    payload: {\n        action: \"set_temperature\",\n        temperature: msg.payload.setpoint,\n    }\n};","outputs":1,"noerr":0,"x":760,"y":460,"wires":[["8d37f062.0c20c","d139ff39.48efe"]]},{"id":"9c061676.03a568","type":"function","z":"f116b56f.ef70a","name":"Guess Mode","func":"\nreturn {\n    payload: {\n        current: msg.payload.current,\n        target: msg.payload.target,\n        mode: msg.payload.target < 10.1 ? 0 : 1,\n        mode_string: msg.payload.mode_string\n    }\n}","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["97c04d9d.58716","97fa1260.ba9aa","427bbc45.8886f4","f87d9dbc.2682c8"]]},{"id":"4658f0e8.4a174","type":"poll-state","z":"f116b56f.ef70a","name":"Thermostat","server":"88078956.e3ed78","version":1,"updateinterval":"150","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"climate.int0000003","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":300,"wires":[["ca6824cb.2b06c8"]]},{"id":"76e7d359.fbca0c","type":"function","z":"f116b56f.ef70a","name":"Manu","func":"\nreturn {\n    payload: {\n        mode: msg.payload.mode === 0 ? \"off\" : \"heat\"\n    }\n};","outputs":1,"noerr":0,"x":1190,"y":480,"wires":[["d48f89cc.b919e8"]]},{"id":"16f9de4d.76d182","type":"link in","z":"f116b56f.ef70a","name":"Schlafzimmer auto","links":["7dc7c944.f80e38","ed15f9e3.940808"],"x":795,"y":500,"wires":[["8d37f062.0c20c","6590f537.8f6aac"]]},{"id":"427bbc45.8886f4","type":"function","z":"f116b56f.ef70a","name":"Ensure Manu","func":"if(msg.mode !== 0 && msg.payload.mode_string != \"heat\"){\n    return {\n        payload: {\n            action: \"set_mode\",\n            mode: 1\n        }\n    }\n}","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["8d37f062.0c20c","8b62ff71.4ff5b8"]]},{"id":"1b6302e1.f49e4d","type":"link out","z":"4edfcc95.bb48b4","name":"Bad auto","links":["fff4885.01ae178"],"x":955,"y":300,"wires":[]},{"id":"7dc7c944.f80e38","type":"link out","z":"4edfcc95.bb48b4","name":"Schlafzimmer auto","links":["16f9de4d.76d182"],"x":955,"y":360,"wires":[]},{"id":"e88daf52.af051","type":"function","z":"4edfcc95.bb48b4","name":"Package","func":"\nreturn {\n    payload: {\n        action: \"set_temperature\",\n        temperature: msg.payload,\n    }\n};","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["1b6302e1.f49e4d"]]},{"id":"b0c592f.891c37","type":"function","z":"4edfcc95.bb48b4","name":"Package","func":"\nreturn {\n    payload: {\n        action: \"set_temperature\",\n        temperature: msg.payload,\n    }\n};","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["7dc7c944.f80e38"]]},{"id":"fd166f6e.ff083","type":"function","z":"4edfcc95.bb48b4","name":"Profile Bad","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nlet hours = new Date(msg.payload).getHours()\nlet minutes = new Date(msg.payload).getMinutes()\nlet day = new Date(msg.payload).getDay()\n\nvar temp = 14.0\n\nif(flow.get(\"dict\")[day]){\n    if(hours >= 7 && hours <= 10){\n        temp = 23.0\n    }else{\n        temp = 17.0\n    }\n}\n\nreturn {\n    payload: temp\n};\n\n","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["b5c9ca66.504f18"]]},{"id":"cbe25ecd.1d43","type":"function","z":"4edfcc95.bb48b4","name":"Profile Schlafzimmer","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nlet hours = new Date(msg.payload).getHours()\nlet minutes = new Date(msg.payload).getMinutes()\nlet day = new Date(msg.payload).getDay()\n\nvar temp = 14.0\n\nif(flow.get(\"dict\")[day]){\n    if(hours >= 22 || hours <= 8){\n        temp = 20.0\n    }else{\n        temp = 17.0\n    }\n}\n\nreturn {\n    payload: temp\n};\n","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["6d727c8c.04385c"]]},{"id":"510d28cc.89cf78","type":"function","z":"4edfcc95.bb48b4","name":"Trigger On Change","func":"\n\nif(context.get(\"val\") != msg.payload){\n    context.set(\"val\", msg.payload)\n    return {\n        payload: msg.payload\n    }\n}else{\n    if(msg.payload < 15.0){\n        let minutes = new Date().getMinutes()\n        if(minutes%15 == 0){\n            return {\n                payload: msg.payload\n            }\n        }\n    }\n}","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["28126c3.ed7f494"]]},{"id":"bc8b086a.841158","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 1,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["98ae40a2.795d5"]]},{"id":"9b4258f.9b6dfa8","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 2,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["98ae40a2.795d5"]]},{"id":"dfdee3a3.6c4e1","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 3,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["98ae40a2.795d5"]]},{"id":"b24244d4.edf5f8","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 4,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["98ae40a2.795d5"]]},{"id":"606ef61c.846018","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 5,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":700,"wires":[["98ae40a2.795d5"]]},{"id":"a2f60ee2.12b43","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 6,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":740,"wires":[["98ae40a2.795d5"]]},{"id":"60fd0d45.6a2ca4","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"\nreturn {\n    payload: {\n        day: 0,\n        enabled: msg.payload.On\n    }\n};","outputs":1,"noerr":0,"x":510,"y":780,"wires":[["98ae40a2.795d5"]]},{"id":"98ae40a2.795d5","type":"function","z":"4edfcc95.bb48b4","name":"Dict","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nd[msg.payload.day] = msg.payload.enabled\nflow.set(\"dict\", d)\n\nreturn {\n    payload: d\n};","outputs":1,"noerr":0,"x":720,"y":660,"wires":[["c7525c21.ee7b7"]]},{"id":"41b7bcdc.364c64","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Montag","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":360,"y":540,"wires":[["bc8b086a.841158"],[]]},{"id":"5d27c315.30f70c","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Dienstag","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":360,"y":580,"wires":[["9b4258f.9b6dfa8"],[]]},{"id":"173077e1.282558","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Mittwoch","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":360,"y":620,"wires":[["dfdee3a3.6c4e1"],[]]},{"id":"f6181607.086238","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Donnerstag","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":370,"y":660,"wires":[["b24244d4.edf5f8"],[]]},{"id":"70819663.7c9498","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Freitag","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":350,"y":700,"wires":[["606ef61c.846018"],[]]},{"id":"8fd466db.f2dab","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Samstag","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":360,"y":740,"wires":[["a2f60ee2.12b43"],[]]},{"id":"aa4810c0.554bb","type":"homekit-service","z":"4edfcc95.bb48b4","isParent":true,"bridge":"74fb3c17.fcddbc","parentService":"","name":"Sonntag","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","characteristicProperties":"{}","x":360,"y":780,"wires":[["60fd0d45.6a2ca4"],[]]},{"id":"c7525c21.ee7b7","type":"debug","z":"4edfcc95.bb48b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":660,"wires":[]},{"id":"83b7998c.0ce3f","type":"ui_template","z":"a0eaccdd.de5ff8","group":"3bf1c47f.ab6d0c","name":"Log Wohnzimmer","order":0,"width":"14","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1090,"y":840,"wires":[[]]},{"id":"9bde7339.6b8468","type":"function","z":"a0eaccdd.de5ff8","name":"Pack","func":"let hist = flow.get(\"log\") || []\n\nhist.push(msg.payload)\nhist = hist.slice(Math.max(hist.length - 200, 0))\n\nflow.set(\"log\", hist)\n\nreturn {\n    payload: hist.map(h => (\n        \"<div>\" + h + \"</div>\")).join(\"\")\n};","outputs":1,"noerr":0,"x":930,"y":840,"wires":[["83b7998c.0ce3f"]]},{"id":"8ff03d3c.c1cf88","type":"function","z":"a0eaccdd.de5ff8","name":"Log Poll","func":"\nreturn {\n    payload: \"Poll: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":780,"y":760,"wires":[["9bde7339.6b8468"]]},{"id":"8fe4366d.3e094","type":"function","z":"a0eaccdd.de5ff8","name":"Log Auto","func":"\nreturn {\n    payload: \"Auto: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":980,"y":760,"wires":[["9bde7339.6b8468"]]},{"id":"24698ae5.7dc526","type":"function","z":"a0eaccdd.de5ff8","name":"Log Homekit","func":"\nreturn {\n    payload: \"Homekit: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1050,"y":640,"wires":[["9bde7339.6b8468"]]},{"id":"8e034591.28fa5","type":"function","z":"a0eaccdd.de5ff8","name":"Log Manu","func":"\nreturn {\n    payload: \"Manu: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1020,"y":680,"wires":[["9bde7339.6b8468"]]},{"id":"ea2522c5.0d0a98","type":"function","z":"a0eaccdd.de5ff8","name":"Log NORA","func":"\nreturn {\n    payload: \"NORA: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1010,"y":720,"wires":[["9bde7339.6b8468"]]},{"id":"ed4b3363.52bf3","type":"ui_template","z":"254a39da.f8b4b6","group":"f864a5fb.2a1c2","name":"Log Bad","order":0,"width":"14","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1000,"y":860,"wires":[[]]},{"id":"72062a53.71d0dc","type":"function","z":"254a39da.f8b4b6","name":"Pack","func":"let hist = flow.get(\"log\") || []\n\nhist.push(msg.payload)\nhist = hist.slice(Math.max(hist.length - 200, 0))\n\nflow.set(\"log\", hist)\n\nreturn {\n    payload: hist.map(h => (\n        \"<div>\" + h + \"</div>\")).join(\"\")\n};","outputs":1,"noerr":0,"x":870,"y":860,"wires":[["ed4b3363.52bf3"]]},{"id":"590274a2.31469c","type":"function","z":"254a39da.f8b4b6","name":"Log Poll","func":"\nreturn {\n    payload: \"Poll: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":700,"y":660,"wires":[["72062a53.71d0dc"]]},{"id":"25252afe.6280e6","type":"function","z":"254a39da.f8b4b6","name":"Log Auto","func":"\nreturn {\n    payload: \"Auto: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":920,"y":780,"wires":[["72062a53.71d0dc"]]},{"id":"5ba024bf.0220cc","type":"function","z":"254a39da.f8b4b6","name":"Log Homekit","func":"\nreturn {\n    payload: \"Homekit: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":990,"y":660,"wires":[["72062a53.71d0dc"]]},{"id":"bb04145a.dc1e68","type":"function","z":"254a39da.f8b4b6","name":"Log Manu","func":"\nreturn {\n    payload: \"Manu: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":960,"y":700,"wires":[["72062a53.71d0dc"]]},{"id":"1c5e2e59.3b291a","type":"function","z":"254a39da.f8b4b6","name":"Log NORA","func":"\nreturn {\n    payload: \"NORA: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":950,"y":740,"wires":[["72062a53.71d0dc"]]},{"id":"69f918f.05b0c68","type":"ui_template","z":"f116b56f.ef70a","group":"f5693f0.19eb24","name":"Log Schlafzimmer","order":0,"width":"14","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1130,"y":880,"wires":[[]]},{"id":"8c12ca0e.3f369","type":"function","z":"f116b56f.ef70a","name":"Pack","func":"let hist = flow.get(\"log\") || []\n\nhist.push(msg.payload)\nhist = hist.slice(Math.max(hist.length - 200, 0))\n\nflow.set(\"log\", hist)\n\nreturn {\n    payload: hist.map(h => (\n        \"<div>\" + h + \"</div>\")).join(\"\")\n};","outputs":1,"noerr":0,"x":970,"y":880,"wires":[["69f918f.05b0c68"]]},{"id":"f87d9dbc.2682c8","type":"function","z":"f116b56f.ef70a","name":"Log Poll","func":"\nreturn {\n    payload: \"Poll: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":800,"y":680,"wires":[["8c12ca0e.3f369"]]},{"id":"6590f537.8f6aac","type":"function","z":"f116b56f.ef70a","name":"Log Auto","func":"\nreturn {\n    payload: \"Auto: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1020,"y":800,"wires":[["8c12ca0e.3f369"]]},{"id":"4bc5980e.1fb058","type":"function","z":"f116b56f.ef70a","name":"Log Homekit","func":"\nreturn {\n    payload: \"Homekit: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1090,"y":680,"wires":[["8c12ca0e.3f369"]]},{"id":"8b62ff71.4ff5b8","type":"function","z":"f116b56f.ef70a","name":"Log Manu","func":"\nreturn {\n    payload: \"Manu: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1060,"y":720,"wires":[["8c12ca0e.3f369"]]},{"id":"d139ff39.48efe","type":"function","z":"f116b56f.ef70a","name":"Log NORA","func":"\nreturn {\n    payload: \"NORA: \" + new Date().toLocaleString() + \": \" + JSON.stringify(msg.payload)\n};","outputs":1,"noerr":0,"x":1050,"y":760,"wires":[["8c12ca0e.3f369"]]},{"id":"b5c9ca66.504f18","type":"function","z":"4edfcc95.bb48b4","name":"Trigger On Change","func":"\n\nif(context.get(\"val\") != msg.payload){\n    context.set(\"val\", msg.payload)\n    return {\n        payload: msg.payload\n    }\n}else{\n    if(msg.payload < 15.0){\n        let minutes = new Date().getMinutes()\n        if(minutes%15 == 0){\n            return {\n                payload: msg.payload\n            }\n        }\n    }\n}","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["e88daf52.af051"]]},{"id":"6d727c8c.04385c","type":"function","z":"4edfcc95.bb48b4","name":"Trigger On Change","func":"\n\nif(context.get(\"val\") != msg.payload){\n    context.set(\"val\", msg.payload)\n    return {\n        payload: msg.payload\n    }\n}else{\n    if(msg.payload < 15.0){\n        let minutes = new Date().getMinutes()\n        if(minutes%15 == 0){\n            return {\n                payload: msg.payload\n            }\n        }\n    }\n}","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["b0c592f.891c37"]]},{"id":"1164db1d.4b9245","type":"debug","z":"a0eaccdd.de5ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":160,"wires":[]},{"id":"a9d64dfa.cd567","type":"debug","z":"a0eaccdd.de5ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":220,"wires":[]},{"id":"b83f058d.939c5","type":"inject","z":"4edfcc95.bb48b4","name":"Every 2 minutes","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["460367fb.fe145","d3974ea5.073ed","29f690cd.cbcf9","3631c37e.f56b8c","33b93989.164106","d495c6e0.abd53","5bbcbb8b.9c581c"]]},{"id":"460367fb.fe145","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[1]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":540,"wires":[["41b7bcdc.364c64"]]},{"id":"d3974ea5.073ed","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[2]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":580,"wires":[["5d27c315.30f70c"]]},{"id":"29f690cd.cbcf9","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[3]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":620,"wires":[["173077e1.282558"]]},{"id":"3631c37e.f56b8c","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[4]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":660,"wires":[["f6181607.086238"]]},{"id":"33b93989.164106","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[5]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":700,"wires":[["70819663.7c9498"]]},{"id":"d495c6e0.abd53","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[6]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":740,"wires":[["8fd466db.f2dab"]]},{"id":"5bbcbb8b.9c581c","type":"function","z":"4edfcc95.bb48b4","name":"Meta","func":"if(!flow.get(\"dict\")){\n    flow.set(\"dict\", {\n        0: false,\n        1: false,\n        2: false,\n        3: false,\n        4: false,\n        5: false,\n        6: false\n    })\n}\n\nvar d = flow.get(\"dict\")\nreturn {\n    payload: {\n        On: d[0]\n    }\n}","outputs":1,"noerr":0,"x":210,"y":780,"wires":[["aa4810c0.554bb"]]}]